/.cache/git/config linguist-generated
/.cache/git/hooks/pre-push linguist-generated
/.cache/vale/Vocab/duoids/accept.txt linguist-generated
/.cache/vale/config/vocabularies/duoids/accept.txt linguist-generated
/.dir-locals.el linguist-generated
/.editorconfig linguist-generated
/.envrc linguist-generated
/.gitattributes linguist-generated
/.github/renovate.json linguist-generated
/.github/settings.yml linguist-generated
/.github/workflows/build.yml linguist-generated
/.github/workflows/hackage-publish.yml linguist-generated
/.github/workflows/switch-pm-generation.yml linguist-generated
/.gitignore linguist-generated
/.hlint.yaml linguist-generated
/.vale.ini linguist-generated
/algebraic-graph/LICENSE linguist-generated
/algebraic-graph/LICENSE.AGPL-3.0-only linguist-generated
/algebraic-graph/LICENSE.Universal-FOSS-exception-1.0 linguist-generated
/algebraic-graph/LICENSE.commercial linguist-generated
/algebraic-graph/README.lhs linguist-generated
/core/LICENSE linguist-generated
/core/LICENSE.AGPL-3.0-only linguist-generated
/core/LICENSE.Universal-FOSS-exception-1.0 linguist-generated
/core/LICENSE.commercial linguist-generated
/core/README.lhs linguist-generated
/garnix.yaml linguist-generated
/hedgehog/LICENSE linguist-generated
/hedgehog/LICENSE.AGPL-3.0-only linguist-generated
/hedgehog/LICENSE.Universal-FOSS-exception-1.0 linguist-generated
/hedgehog/LICENSE.commercial linguist-generated
/hedgehog/README.lhs linguist-generated
/nix-ci.nix linguist-generated
/transformer/LICENSE linguist-generated
/transformer/LICENSE.AGPL-3.0-only linguist-generated
/transformer/LICENSE.Universal-FOSS-exception-1.0 linguist-generated
/transformer/LICENSE.commercial linguist-generated
/transformer/README.lhs linguist-generated
